*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 200px;
    display: block;
    float: left;
    background-color: blue;
}

article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: #121212;
}

#divarticle{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    color: white;
}

#divarticle h2{
    font-size: 50px;
}

#divarticle p{
    font-size: 20px;
    margin-bottom: 50px;
}

#imgarticle{
    width: 200px;
    height: auto;
    margin-left: 0px;
}

#divarticle h2:hover{
    color: orange;
}

aside{
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: black;
}

#divaside{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: red;
}